# Python
.venv/
__pycache__/
*.pyc
.env
.python-version

# R
.Rhistory
.Rproj.user/
*.Rproj

# Data (raw data not tracked — too large / API-dependent)
data/raw/*.json
data/raw/*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


#api key
scripts/python/api-key.txt
scripts/python/data/*.json
